<!DOCTYPE html>
<html lang="en">
<head>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">

  <title>PHPCUBE - Release Your Super Power</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">

  <!-- Bootstrap Styles -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Styles -->
  <link href="style.css" rel="stylesheet">

  <!-- Carousel Slider -->
  <link href="css/owl-carousel.css" rel="stylesheet">

  <!-- CSS Animations -->
  <link href="css/animate.min.css" rel="stylesheet">

  <!-- Google Fonts -->
  <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,300,400italic,300italic,700,700italic,900' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Exo:400,300,600,500,400italic,700italic,800,900' rel='stylesheet' type='text/css'>

  <!-- SLIDER ROYAL CSS SETTINGS -->
  <link href="royalslider/royalslider.css" rel="stylesheet">
  <link href="royalslider/skins/default-inverted/rs-default-inverted.css" rel="stylesheet">

  <!-- SLIDER REVOLUTION 4.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css" media="screen" />

  <link href="css/skin/blue.css" rel="stylesheet">

  <!-- Support for HTML5 -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Enable media queries on older bgeneral_rowsers -->
  <!--[if lt IE 9]>
    <script src="js/respond.min.js"></script>  <![endif]-->

</head>
<body>

  <div id="topbar" class="clearfix">
    <div class="container">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="social-icons">
          {% if 0 %}
          <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
          <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
          <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
          <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
          <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
          <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
          <span class="last"><a data-toggle="tooltip" data-placement="bottom" title="Skype" href="#"><i class="fa fa-skype"></i></a></span>
          {% endif %}
          <span class="last"><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
        </div><!-- end social icons -->
      </div><!-- end columns -->
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <div class="topmenu">
          <span class="topbar-login"><i class="fa fa-key"></i> <a href="login.html"> 登入</a></span>
          <span class="topbar-cart"><i class="fa fa-user"></i> <a href="login.html"> 註冊</a></span>
        </div><!-- end top menu -->
        <div class="callus">
          <!--
          <span class="topbar-email"><i class="fa fa-envelope"></i> <a href="mailto:name@yoursite.com">hi@phpcu.be</a></span>
          <span class="topbar-phone"><i class="fa fa-phone"></i> 1-900-324-5467</span>
          -->
        </div><!-- end callus -->
      </div><!-- end columns -->
    </div><!-- end container -->
  </div><!-- end topbar -->

  <header id="header-style-1">
    <div class="container">
      <nav class="navbar yamm navbar-default">
        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand">PHPCUBE</a>
        </div><!-- end navbar-header -->

        <div id="navbar-collapse-1" class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="about.html">文章</a></li>
            <li><a href="contact.html">探索</a></li>
            <li><a href="contact.html">框架</a></li>
            <li><a href="contact.html">軟體</a></li>
            <li><a href="contact.html">發問</a></li>
          </ul><!-- end navbar-nav -->
        </div><!-- #navbar-collapse-1 -->
      </nav><!-- end navbar yamm navbar-default -->
    </div><!-- end container -->
  </header><!-- end header-style-1 -->


  <section class="white-wrapper">
    <div class="container">
      <div class="messagebox">
        <h2>PHPCUBE，燃起你的 <mark>PHP 魂</mark></h2>
        <p class="lead">
          成為 PHP 生態圈裡的一塊基石是我們努力追求的目標和遠景。<br />
          無論您想如何使用 PHP，希望我們都能帶來或多或少的幫助。共勉之。<br />
        </p>
        <a class="btn btn-primary btn-lg" href="#">探索學習</a>&nbsp;
        <a class="btn btn-success btn-lg" href="#">我要發問</a>
      </div><!-- end messagebox -->
    </div><!-- end container -->
  </section><!-- end white-wrapper -->


  <section class="grey-wrapper">
    <div class="container">
      <div class="general-title">
        <h2>探索 PHP 學習之路</h2>
        <hr />
        <p class="lead">一場永無止境的冒險旅程</p>
      </div><!-- end general title -->
      <div class="services_vertical">
        <div class="col-lg-4 first">
          <div class="service_vertical_box">
            <div class="service-icon">
              <i class="fa fa-lightbulb-o fa-4x"></i>
            </div>
            <h3>瞭解什麼是網站，何謂 PHP</h3>
            <p>帶你瞭解伺服器、瀏覽器、主機等技術概說，並介紹 PHP 在其中所扮演的角色，以及如何搭建一個簡易開發環境。</p>
            <a href="#" class="readmore">Read More...</a>
          </div><!-- end service_vertical_box -->
        </div><!-- end col-lg-4 -->
        <div class="col-lg-4">
          <div class="service_vertical_box">
            <div class="service-icon">
              <i class="fa fa-gear fa-4x"></i>
            </div>
            <h3>PHP 程式語言入門</h3>
            <p>變數、運算、函式、邏輯、迴圈…介紹 PHP 語言各種的基本部件，只要瞭解，就能輕鬆掌握一半以上的開發能力。</p>
            <a href="#" class="readmore">Read More...</a>
          </div><!-- end service_vertical_box -->
        </div><!-- end col-lg-4 -->
        <div class="col-lg-4 last">
          <div class="service_vertical_box">
            <div class="service-icon">
              <i class="fa fa-tablet fa-4x"></i>
            </div>
            <h3>HTML 語言入門</h3>
            <p>概略介紹常用的 HTML 標籤，並將它和 PHP 一起結合使用。</p>
            <a href="#" class="readmore">Read More...</a>
          </div><!-- end service_vertical_box -->
        </div><!-- end col-lg-4 -->
        <div class="col-lg-4 first">
          <div class="service_vertical_box">
            <div class="service-icon">
              <i class="fa fa-folder-o fa-4x"></i>
            </div>
            <h3>資料的進入、儲存與使用</h3>
            <p>介紹可能的資料類型和儲存方式，並說明如何經由 HTML 和 PHP 做到資料的儲存和應用。</p>
            <a href="#" class="readmore">Read More...</a>
          </div><!-- end service_vertical_box -->
        </div><!-- end col-lg-4 -->
        <div class="col-lg-4">
          <div class="service_vertical_box">
            <div class="service-icon">
              <i class="fa fa-puzzle-piece fa-4x"></i>
            </div>
            <h3>物件導向的世界</h3>
            <p>是時候該邁入中階了。物件導向在現今程式語言中扮演著極其核心的角色，一同來瞭解什麼是介面、物件、繼承吧。</p>
            <a href="#" class="readmore">Read More...</a>
          </div><!-- end service_vertical_box -->
        </div><!-- end col-lg-4 -->
        <div class="col-lg-4 last">
          <div class="service_vertical_box">
            <div class="service-icon">
              <i class="fa fa-rocket fa-4x"></i>
            </div>
            <h3>設計模式</h3>
            <p>設計模式是一套被整理出來解決特定目的的程式公式。當踏入了設計模式，你才能真正瞭解物件導向的價值所在。</p>
            <a href="#" class="readmore">Read More...</a>
          </div><!-- end service_vertical_box -->
        </div><!-- end col-lg-4 -->
        <div class="clearfix"></div>
      </div><!-- end services_vertical -->
    </div><!-- end container -->
  </section><!-- end transparent-bg -->


  <section id="one-parallax" class="parallax" style="background-image: url('demos/cube/framework-bg.jpg');" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="overlay">
      <div class="container">
        <div class="general-title">
          <h2>框架開發</h2>
          <hr />
          <p class="lead">強化你的程式架構和撰寫規格</p>
        </div><!-- end general title -->
        
        <div class="clients padding-top text-center">
          <div class="client-wrap col-lg-3 first">
            <a href="#" title=""><img src="demos/cube/laravel-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3">
            <a href="#" title=""><img src="demos/cube/yii-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3">
            <a href="#" title=""><img src="demos/cube/symfony-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3 last">
            <a href="#" title=""><img src="demos/cube/ci-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3 first no-border">
            <a href="#" title=""><img src="demos/cube/zend-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3 no-border">
            <a href="#" title=""><img src="demos/cube/phalcon-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3 no-border">
            <a href="#" title=""><img src="demos/cube/slim-bw.png" alt=""></a>
          </div>
          <div class="client-wrap col-lg-3 last no-border">
            <a href="#" title=""><img src="demos/cube/cakephp-bw.png" alt=""></a>
          </div>
        </div><!-- end row -->
      </div><!-- end container -->
    </div><!-- end overlay -->
  </section><!-- end transparent-bg -->

  <section class="white-wrapper jt-shadow">
    <div class="container">
      <div class="general-title">
        <h2>軟體應用</h2>
        <hr />
        <!--
        <p class="lead">強化你的程式架構和撰寫規格</p>
        -->
      </div><!-- end general title -->

      <div class="text-center clearfix">
        <nav class="portfolio-filter">
          <ul>
            <li><a class="btn btn-primary" href="#" data-filter="*"><span></span>All</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".photography">Content Management System</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".app-design">Bug Tracker</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".app-design">Q & A</a></li>
          </ul>
        </nav>
      </div><!-- end text-center --> 
            
      <div id="boxed-portfolio" class="portfolio_wrapper padding-top">
        <div class="col-lg-4 col-sm-4 col-md-4 col-sm-4 logo">
          <div class="portfolio_item">
            <div class="entry">
              <img src="demos/portfolio_05.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="buttons">
                  <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                  <h3>Wordpress</h3>
                </div><!-- end buttons -->
              </div><!-- end magnifier -->
            </div><!-- end entry -->
          </div><!-- end portfolio_item -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4 col-sm-4 col-md-4 col-sm-4 logo">
          <div class="portfolio_item">
            <div class="entry">
              <img src="demos/portfolio_06.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="buttons">
                  <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                  <h3>Joomla</h3>
                </div><!-- end buttons -->
              </div><!-- end magnifier -->
            </div><!-- end entry -->
          </div><!-- end portfolio_item -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4 col-sm-4 col-md-4 col-sm-4 logo">
          <div class="portfolio_item">
            <div class="entry">
              <img src="demos/portfolio_06.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="buttons">
                  <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                  <h3>Droplr</h3>
                </div><!-- end buttons -->
              </div><!-- end magnifier -->
            </div><!-- end entry -->
          </div><!-- end portfolio_item -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4 col-sm-4 col-md-4 col-sm-4 logo">
          <div class="portfolio_item">
            <div class="entry">
              <img src="demos/portfolio_06.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="buttons">
                  <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                  <h3>Bolt</h3>
                </div><!-- end buttons -->
              </div><!-- end magnifier -->
            </div><!-- end entry -->
          </div><!-- end portfolio_item -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4 col-sm-4 col-md-4 col-sm-4 logo">
          <div class="portfolio_item">
            <div class="entry">
              <img src="demos/portfolio_06.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="buttons">
                  <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                  <h3>Mantis</h3>
                </div><!-- end buttons -->
              </div><!-- end magnifier -->
            </div><!-- end entry -->
          </div><!-- end portfolio_item -->
        </div><!-- end col-lg-4 -->

        <div class="col-lg-4 col-sm-4 col-md-4 col-sm-4 logo">
          <div class="portfolio_item">
            <div class="entry">
              <img src="demos/portfolio_06.jpg" alt="" class="img-responsive">
              <div class="magnifier">
                <div class="buttons">
                  <a class="st btn btn-default" rel="bookmark" href="portfolio-single-sidebar.html">View project</a>
                  <h3>Best Apple Mockups</h3>
                </div><!-- end buttons -->
              </div><!-- end magnifier -->
            </div><!-- end entry -->
          </div><!-- end portfolio_item -->
        </div><!-- end col-lg-4 -->

      </div>
      <div class="clearfix"></div>
                
      <div class="buttons padding-top text-center">
        <a href="portfolio-masonry.html" class="btn btn-primary btn-lg" title="">View All Projects</a>
      </div>
        
    </div><!-- end container -->
  </section><!-- end white-wrapper -->

  {% if 0 %}
  <footer id="footer-style-1">
    <div class="container">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <img class="padding-top" src="images/flogo.png" alt="">
          <p>Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Invst igationes demonstraverunt lectores legemer lius quod ii legunt saepius. Claritas est etiam processus dynamicusm lectorum.</p>
          <div class="social-icons">
            <span><a data-toggle="tooltip" data-placement="bottom" title="Facebook" href="#"><i class="fa fa-facebook"></i></a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Google Plus" href="#"><i class="fa fa-google-plus"></i></a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Twitter" href="#"><i class="fa fa-twitter"></i></a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Youtube" href="#"><i class="fa fa-youtube"></i></a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a></span>
            <span><a data-toggle="tooltip" data-placement="bottom" title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a></span>
          </div><!-- end social icons -->
        </div><!-- end widget -->
      </div><!-- end columns -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <div class="title">
            <h3>Twitter Feeds</h3>
          </div><!-- end title -->
          <ul class="twitter_feed">
            <li><span></span><p>Jolly Themes wishes you and your family a merry Christmas and a happy new! <a href="#">about 2 days ago</a></p></li>
            <li><span></span><p>Jolly Themes wishes you and your family a merry Christmas and a happy new! <a href="#">about 9 days ago</a></p></li>
          </ul><!-- end twiteer_feed -->
        </div><!-- end widget -->
      </div><!-- end columns -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <div class="title">
            <h3>Recent Posts</h3>
          </div><!-- end title -->
          <ul class="footer_post">
            <li><a href="#"><img class="img-rounded" src="demos/footer_post_01.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-rounded" src="demos/footer_post_02.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-rounded" src="demos/footer_post_03.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-rounded" src="demos/footer_post_04.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-rounded" src="demos/footer_post_05.jpg" alt=""></a></li>
            <li><a href="#"><img class="img-rounded" src="demos/footer_post_06.jpg" alt=""></a></li>
          </ul><!-- recent posts -->
        </div><!-- end widget -->
      </div><!-- end columns -->
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="widget">
          <div class="title">
            <h3>NewsLetter</h3>
          </div><!-- end title -->
          <div class="newsletter_widget">
            <p>Subscribe to our newsletter to receive news, updates, free stuff and new releases by email. We don't do spam..</p>
            <form action="#" class="newsletter_form">
              <input type="text" class="form-control" placeholder="Enter your email address">
              <a href="#" class="btn btn-primary pull-right">Subscribe</a>
            </form><!-- end newsletter form -->
          </div>
        </div><!-- end widget -->
      </div><!-- end columns -->
    </div><!-- end container -->
  </footer><!-- end #footer-style-1 -->
  {% endif %}

  <div id="copyrights">
    <div class="container">
      <div class="col-lg-5 col-md-6 col-sm-12">
        <div class="copyright-text">
          <p>Copyright © 2015 - PHPCUBE</p>
        </div><!-- end copyright-text -->
      </div><!-- end widget -->
      <div class="col-lg-7 col-md-6 col-sm-12 clearfix">
        <div class="footer-menu">
          <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Headers</a></li>
            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Features</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div><!-- end large-7 -->
    </div><!-- end container -->
  </div><!-- end copyrights -->

  <!--
  <div class="dmtop">Scroll to Top</div>
  -->

  <!-- Main Scripts-->
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/menu.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.parallax-1.1.3.js"></script>
  <script src="js/jquery.simple-text-rotator.js"></script>
  <script src="js/wow.min.js"></script>
  <script src="js/custom.js"></script>

  <script src="js/jquery.isotope.min.js"></script>
  <script src="js/custom-portfolio.js"></script>

  <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
  <script type="text/javascript" src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
  <script type="text/javascript">
  var revapi;
  jQuery(document).ready(function() {
    revapi = jQuery('.tp-banner').revolution(
    {
      delay:9000,
      startwidth:1170,
      startheight:500,
      hideThumbs:10,
      fullWidth:"on",
      forceFullWidth:"on"
    });
  }); //ready
  </script>

  <!-- Royal Slider script files -->
  <script src="royalslider/jquery.easing-1.3.js"></script>
  <script src="royalslider/jquery.royalslider.min.js"></script>
  <script>
  jQuery(document).ready(function($) {
    var rsi = $('#slider-in-laptop').royalSlider({
    autoHeight: false,
    arrowsNav: false,
    fadeinLoadedSlide: false,
    controlNavigationSpacing: 0,
    controlNavigation: 'bullets',
    imageScaleMode: 'fill',
    imageAlignCenter: true,
    loop: false,
    loopRewind: false,
    numImagesToPreload: 6,
    keyboardNavEnabled: true,
    autoScaleSlider: true,
    autoScaleSliderWidth: 486,
    autoScaleSliderHeight: 315,

    /* size of all images http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/adding-width-and-height-properties-to-images */
    imgWidth: 792,
    imgHeight: 479

    }).data('royalSlider');
    $('#slider-next').click(function() {
    rsi.next();
    });
    $('#slider-prev').click(function() {
    rsi.prev();
    });
  });
  </script>



  </body>
</html>